body {
    background-color: black;
}
form {
    margin: auto;
    background-color: white;
    width: 800px;
}
legend {
    font-weight: bold;
    border-bottom: 2px solid rgb(159, 159, 164);
}
li {
    display: inline-block;
    width: 700px;
    margin-top: 1em;
}
label {
    margin-right: 5em;
}
input[type="text"], #email {
    margin-left: 1.4em;
}
input[type="tel"] {
    width: 40px;

}
sup {
    color: red;
}
textarea {
    width: 300px;
    height: 100px;
}
select {
    background-color: rgb(161, 163, 154);
    width: 150px;
    height: 40px;
}
button {
    background-color: rgb(244, 130, 12);
    color: white;
    margin-left: 170px;
    height: 35px;
    border-radius: 7px;
}
