body {
    background-color: black;
}
form {
    width: 700px;
    margin: auto;
    padding-left: 2em;
    background-color: white;
}
label {
    display: block;
    font-weight: bold;
    padding: 2px;
}
input, option {
    width: 500px;
    height: 25px;
}

input[type="text"] {
    width: 240px;
}
sup {
    color: red;
}

select {
    background-color: rgb(157, 163, 172);
}
textarea {
    width: 500px;
    height: 150px;
}

button {
    background-color: rgb(65, 138, 236);
    color: white;
    height: 40px;
    width: 80px;

}
